@import 'mixins';

.g-list{
    padding-left: 10px;
    border-top: 1.5px solid $border-color; 
    border-bottom: 1.5px solid $border-color; 
}

.g-list-item{
    overflow: hidden;
    @include flex-between();
    height: 44px;
    padding-right: 10px;
    border-bottom: 1px solid $border-color;
    color: #686868;

    &:last-child{
        border-bottom: none;
    }
}